*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    background-image: url("bgr.jpg");
    background-repeat:repeat;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 40%;
}
#bilder *{
    display:inline-block;
    width: 320px;
    height: auto;
}
#bilder{
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#personalMessage{
    text-rendering: optimizeLegibility;
    text-align: center;
    font-weight: 900;
    font-size: 25;
    text-shadow: 4px 2px black;
    color: white;   
}