<html>
    <head>
        <!--https://bit.ly/381FdFn-->
        <title>God Jul {{currentName}}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <img class="center" src="{{imageLink}}" alt="godJulText">
        <p id="personalMessage">{{personalMessage}}</p>
        <div id="bilder" style="width: 100%;">
            {% for x in links %}
                <img src="{{x}}" alt="{{x}}">
            {% endfor %}
        </div>
    </body>
</html>