<!DOCTYPE html>
<html>
    <head>
        <title>God Jul {{currentName}}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="allBody">
            <div style="filter: blur(8px);">
                <img class="center" src="{{imageLink}}" alt="godJulText">
                <p id="personalMessageText">{{personalMessage}}</p>
                <div id="bilderDiv" style="width: 100%;">
                    {% for x in links %}
                        <a href="{{x}}"><img class="bilder" src="{{x}}" alt="{{x}}"></a>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </body>
</html>