<html>
    <head>
        <!--https://bit.ly/381FdFn-->
        <title>God Jul Mamma</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}">

    </head>
    <body>
        <img class="center" src="{{ url_for('static', filename='mamma.png') }}" alt="godJulText">
        <div id="bilder" style="width: 100%;">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </body>
</html>