<html>
    <head>
        <!--https://bit.ly/381FdFn-->
        <title>God Jul Pappa</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}">

    </head>
    <body>
        <img class="center" src="{{ url_for('static', filename='pappa.png') }}" alt="godJulText">
        <div id="bilder" style="width: 100%;">
            {{ for x in }}
            <img src="https://bit.ly/34h7pTI" alt="">
            <img src="https://bit.ly/3qWRoMa" alt="">
            <img src="https://bit.ly/3qZQX3Z" alt="">
            <img src="https://bit.ly/37m64gl" alt="">
            <img src="https://bit.ly/3oXvLK5" alt="">
            <img src="https://bit.ly/2K8Jf6K" alt="">
            <img src="https://bit.ly/3oXvMh7" alt="">
        </div>
    </body>
</html>